<div class="medium-12 large-12 columns widget-4column [[Model.CssClass]]">
    <div class="row">
        <div class="medium-[[Model.LeftColumnSize]] large-[[Model.LeftColumnSize]] columns">
            [% zone 'LeftColumn' %]
        </div>
        <div class="medium-[[Model.LeftCenterColumnSize]] large-[[Model.LeftCenterColumnSize]] columns">
            [% zone 'LeftCenterColumn' %]
        </div>
        <div class="medium-[[Model.RightCenterColumnSize]] large-[[Model.RightCenterColumnSize]] columns">
            [% zone 'RightCenterColumn' %]
        </div>
        <div class="medium-[[Model.RightColumnSize]] large-[[Model.RightColumnSize]] columns">
            [% zone 'RightColumn' %]
        </div>
    </div>
</div>