<div class="widget-mobileLinkList clearfix [[Model.CssClass]]">
    [% if Model.Layout == "Grid" -%]
    <img src="/SystemResources/Images/ContentAdmin/Grid Placeholder.png" alt="Grid Placeholder"/>
    [% else -%]
    <img src="/SystemResources/Images/ContentAdmin/List Placeholder.png" alt="List Placeholder"/>
    [% endif -%]
</div>