<div ng-controller="BrandContentController as vm" class="tst_brandContentWidget" ng-cloak>
    <div ng-if="vm.brand.htmlContent" class="brand-cm" ng-bind-html="vm.brand.htmlContent|trusted"></div>
</div>