.ma-brands {
    .page-title {
        text-align: center;
    }

    .alphabet-navigation {
        word-wrap: break-word;
        text-transform: uppercase;
        text-align: center;
        padding: 25px 0;

        .letter {
            margin: 0 6px;
            font-size: 1.3em;

            span {
                opacity: 0.5;
            }
        }
    }

    .brand-list {
        .brand-letter {
            overflow: hidden;
            border-bottom: 1px solid #e1e1e1;
            margin-top: 20px;

            span {
                font-weight: 600;
                font-size: 1.3em;
                text-transform: uppercase;
            }

            a {
                float: right;
                font-size: 0.9em;
            }
        }

        .brand-names {
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;

            .brand-item {
                width: 240px;
                padding-right: 5px;

                @media only screen and (max-width: 767px) {
                    width: 100%;
                }

                .brand-link {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
