.ma-cart-reminder-unsubscribe {
    .cart-reminder-unsubscribe {
        text-align: center;

        img {
            display: inline-block;
            max-width: 150px;
            max-height: 150px;
            margin: 10px 0 40px 0;
        }

        .unsubscribe-message {
            margin-bottom: 25px;
        }
    }
}
