.ma-order-details {
    .error {
        margin: 1.5em 0;
    }

    .order-details-top {
        margin-bottom: 1.5em;
        border: 1px solid #DCDCDC;
        padding: 1em;

        h3 {
            margin-bottom: .4em;
        }

        .od-head, .bill-info, .ship-info, .ship-method, .delivery-date, .notes {
            margin-bottom: .8em;
        }
    }

    .order-details-top .od-head {
        display: inline-block;

        h3 {
            float: left;
            margin-top: 0;
        }

        .od-data {
            font-weight: normal;
        }
    }

    .order-details-top h3.od-lbl {
        padding-right: 1em;
        clear: left;
    }

    .order-details-top ul {
        list-style: none;
        margin: 0;
    }

    .ship-details h4 {
        display: inline-block;
        margin-right: .5em;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0.5em;
        text-align: left;
    }

    .page-title {
        display: none;
    }

    .od-head,
    .bill-info {
        margin-bottom: 1em;
    }
    /* Cart Items */
    .cart-items {
        margin-bottom: 1em;
    }

    .btns .btn {
        float: right;
        margin-left: 1em;
    }
    /* Cart Items */
    ul.cart-items {
        list-style: none;
    }

    .item-list .item-details {
        width: 80%;
    }

    .item-list .item-details,
    .item-list .item-code-notes {
        float: right;
    }

    .item-list .item-details div.item-opt {
        line-height: 1em;
    }

    .item-block .price {
        span {
            text-align: right;
            margin: 0 0;
        }

        .pd-price, .selected-uom, .price-sale, .price-saving {
            display: block;
        }
    }

    .item-list .item-code-notes .cost-code,
    .item-list .item-code-notes .item-notes {
        width: 100%;
        margin-bottom: 0.25em;
    }

    .item-list .item-code-notes .cost-code strong,
    .item-list .item-code-notes .item-notes strong {
        margin-right: 0.5em;
    }

    .item-list .reorder-item {
        text-align: right;
        margin-bottom: 1em;
    }
    /* Order cancelled */
    .order-history-cancelled {
        text-align: center;
        background-color: #FFEFF0;
        margin-bottom: 15px;
        color: #FF0C14;
        padding: 3px;
    }
}

.share-entity-modal.reveal-modal {
    max-width: 480px;
    overflow: auto;
    height: 93vh;

    .modal-wrap {
        padding: 0;

        .link {
            color: #555555 !important;
        }

        h3 {
            margin-top: 0;
        }

        .required-label {
            margin-bottom: 1em;
        }

        textarea {
            height: 100px;
        }

        .btns {
            border-top: 1px solid #e1e1e1;
            padding-top: 1em;
        }

        .messaging {
            display: inline-block;
        }

        .close-reveal-modal {
            top: .55em;
        }

        .share-modal-label {
            border-bottom: 1px solid #e1e1e1;
            margin-bottom: 1em;
        }

        .close-modal-button {
            margin-right: .5em;
        }
    }
}

@media all and (max-width: 767px) {
    .ma-order-details {
        .cart-items {
            overflow: auto;
            max-height: 460px;
        }

        .btns {
            margin-bottom: .7rem;

            .btn {
                width: 100%;
                margin: .3em 0;
            }
        }

        .order-subtotal {
            width: 100%;
            float: left;
        }

        .shipments {
            list-style: none;
            margin: 0;
            border: 1px solid #E0E0E0;
            margin-bottom: 1.5em;

            li {
                padding: 1em;
                border-bottom: 1px solid #E0E0E0;

                &.header {
                    font-weight: bold;
                    margin: 0;
                    width: 100%;
                    background: whitesmoke;
                }

                .sp-label {
                    font-weight: bold;
                }
            }
        }

        ul.cart-items {
            border-top: 1px solid #E0E0E0;
            border-bottom: 1px solid #E0E0E0;
        }

        .item-block {
            .item-thumb {
                width: 20%;
            }

            div.item-opt {
                text-align: left;

                .item-subtotal-label {
                    margin-right: .3rem;
                    float: right;
                }
            }

            .price {
                span {
                    text-align: left;
                }

                .selected-uom {
                    display: inline-block;
                }

                .price-sale {
                    display: inline-block;
                    margin-right: .4rem;
                }
            }
        }
    }
}

@media all and (min-width: 768px) {
    .ma-order-details {
        .order-subtotal {
            width: 100%;
            float: right;
        }

        .item-list .item-details div.price,
        .item-list .item-details div.item-opt {
            display: inline-block;
            height: auto;
        }

        .item-list .item-details,
        .item-list .item-code-notes {
            padding-right: 1em !important;
        }

        .btns .btn {
            margin-top: 1.3em;
        }
    }
}
