.news-page {
    h2.news-heading {
        margin-bottom: .25em;
    }

    .news-page-full {
        margin-bottom: 1em;
    }

    .news-publish-info {
        font-size: 0.875em;
        margin-bottom: 1em;
    }

    .news-publish-info strong {
        margin-right: .5em;
    }
}
