<div id="tst_listQuantityAdjustmentPopup" class="reveal-modal pop-allpurpose list-quantity-adjustment-popup" data-reveal data-reveal-init>
    <div class="modal-wrap">
        <div>
            <h4><span>[% translate 'Quantity Adjustment Has Been Made' EscapeSingleQuotes %]</span></h4>
        </div>
        <div ng-show="vm.isQtyAdjusted">[% siteMessage 'Lists_QuantitiesAdjusted' %]</div>
        <a id="tst_listQuantityAdjustmentPopup_close" class="close-reveal-modal">&#215;</a>
    </div>
</div>