<div id="tst_addToCartPopup" class="reveal-modal pop-allpurpose add-to-cart-popup" data-reveal data-reveal-init>
    <div class="modal-wrap ">
        <div ng-show="vm.productSettings.showAddToCartConfirmationDialog">
            <h4><span ng-bind="vm.isAddAll ? '[% translate 'Add All to Cart' %]' : '[% translate 'Add to Cart' %]'"></span></h4>
            <span ng-bind="vm.isAddAll ? '[% siteMessage 'Cart_AllProductsAddedToCart' EscapeSingleQuotes %]' : '[% siteMessage 'Cart_ProductAddedToCart' %]'"></span>
        </div>
        <div ng-show="vm.isQtyAdjusted"><b>[% siteMessage 'Cart_QuantityAdjusted' %]</b></div>
        <a id="tst_addToCartPopup_close" class="close-reveal-modal">&#215;</a>
    </div>
</div>