[% capture Image %]
<img src="[[Model.ImageUrl]]" alt="[[Model.AltText]]" style="[[Model.HeightStyleDeclaration]] [[Model.WidthStyleDeclaration]]" />
[% endcapture %]

<div class="widget-image [[Model.CssClass]]">
    [%- if Model.IsLinkProvided -%]
        <a class="cms-imageLink" href="[[Model.Link]]">[[Image]]</a>
    [%- else -%]
        [[Image]]
    [%- endif -%]
</div>