#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
!src/InsiteCommerce.Web/_SystemResources/Themes/Responsive/theme.json.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
!tools/OpenSSL/bin
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
src/.vs

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

# vim Temp Files
*~

#NuGet
packages/
*.nupkg

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings

src/InSiteCommerce.Web/node_modules/
*.map
src/InSiteCommerce.Web/_SystemResources/Themes/**/*.js
src/InSiteCommerce.Web/_SystemResources/Themes/**/*.js.map
src/InSiteCommerce.Web/_SystemResources/Themes/Responsive/base.css
src/InSiteCommerce.Web/_SystemResources/Themes/Responsive/base.css.map
src/InSiteCommerce.Web/_SystemResources/Themes/Responsive/template/*.css
src/InSiteCommerce.Web/_SystemResources/Themes/Responsive/template/*.css.map
src/InSiteCommerce.Web/config/connectionStrings.config
src/InSiteCommerce.Web/config/appSettings.config
src/InSiteCommerce.Web/App_Data/luceneindex/


/src/InSiteCommerce.Web/App_Data/insiteidentity.pfx
