<script src="/SystemResources/Scripts/Libraries/xlsx/0.8.0/xlsx.full.min.js"></script>
<script src="/SystemResources/Scripts/Libraries/papaparse/4.1/papaparse.min.js"></script>

<div class="row main-row [[Model.CssClass]]">
    <div class="medium-12 large-12 columns">
        [% zone 'Content' %]
    </div>
</div>