<div class="row main-row news-page">
    <div class="medium-12 large-12 columns">
        <div class="medium-12 large-12 columns">
            <div class="news-list-header">
                [% zone 'News Header' %]
            </div>
            <div class="news-page-full">
                <h2 class="news-heading">[[CurrentPage.Title]]</h2>
                <div class="news-publish-info"><strong>[[CurrentPage.Author]]</strong>
                    <em isc-date-display date-time="[[CurrentPage.PublishDate]]"></em></div>
                <div class="news-page-content">
                    [[CurrentPage.NewsContents]]
                </div>
            </div>
            <div class="news-list-footer">
                [% zone 'News Footer' %]
            </div>
        </div>
    </div>
</div>