<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Account Activation E-mail</title>
</head>

<body>
    <div>
        <img src="[[Model.ContentBaseUrl]]/Images/email-header-with-insite-logo.png" height="86" width="600" alt="Insite Logo" />
    </div>
    <div style="margin-top: 30px;
                margin-left: 20px;
                margin-right: 20px;
                max-width: 600px;">
        <h1 style="font-weight: 600;
                   font-family: 'Proxima Nova Condensed', Arial, sans-serif;
                   letter-spacing: 0.025em;">
            Activate Your Account
        </h1>
        <p style="font-weight: 500;
                  font-family: 'Proxima Nova Condensed', Arial, sans-serif;">
            Hello [[Model.UserName]],
        </p>
        <p style="font-weight: 500;
                    font-family: 'Proxima Nova Condensed', Arial, sans-serif;">
            You may use the link below to activate your account. The link below is good for a single use and will remain active for [[Model.ActivationUrlExpirationInDays]] day(s).
        </p>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <a id="tst_storefront_accountActivation_link" href="[[Model.ActivationUrl]]" target="_blank" style="font-size: 16px;
                                                                                        font-family: 'Proxima Nova Condensed', Arial, sans-serif;
                                                                                        color: #ffffff;
                                                                                        text-decoration: none;
                                                                                        border-radius: 0;
                                                                                        -webkit-border-radius: 0;
                                                                                        -moz-border-radius: 0;
                                                                                        background-color: #77BC1F;
                                                                                        border-top: 12px solid #77BC1F;
                                                                                        border-bottom: 12px solid #77BC1F;
                                                                                        border-right: 18px solid #77BC1F;
                                                                                        border-left: 18px solid #77BC1F;
                                                                                        display: inline-block;">Activate Account</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>