<div class="medium-12 large-12 columns widget-2column [[Model.CssClass]]">
    <div class="row">
        <div class="medium-[[Model.LeftColumnSize]] large-[[Model.LeftColumnSize]] columns">
            [% zone 'LeftColumn' %]
        </div>
        <div class="medium-[[Model.RightColumnSize]] large-[[Model.RightColumnSize]] columns">
            [% zone 'RightColumn' %]
        </div>
    </div>
</div>