<div class="widget-webcrosssells [[Model.CssClass]]">
    <isc-cross-sell-carousel></isc-cross-sell-carousel>
</div>

<script type="text/ng-template" id="/PartialViews/Catalog-CrossSellCarousel">
    [% partialView 'Catalog-CrossSellCarousel' %]
</script>