<?xml version="1.0"?>
<log4net>
  <appender name="trace" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline"/>
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="App_Log\logfile.txt"/>
    <appendToFile value="true"/>
    <rollingStyle value="Size"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="10MB"/>
    <countDirection value="1"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
    </layout>
  </appender>
  <appender name="insite" type="Insite.Core.Common.InsiteLogAppender, Insite.Core"/>
  <root>
    <!-- Options are "ALL", "DEBUG", "INFO", "WARN", "ERROR", "FATAL" and "OFF". -->
    <level value="ALL"/>
    <appender-ref ref="insite"/>
  </root>
  <logger name="Insite.WIS.Broker">
    <level value="INFO"/>
  </logger>
  <logger name="Metrics">
    <level value="WARN"/>
  </logger>
  <logger name="IdentityServer3">
    <level value="WARN"/>
  </logger>
  <logger name="IdentityServer3.EntityFramework">
    <level value="WARN"/>
  </logger>
</log4net>