<?xml version="1.0" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="Insite.WIS.Broker"/>
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>
  <container>
    <register type="Insite.WIS.Broker.Interfaces.IWindowsIntegrationBroker" mapTo="Insite.WIS.Broker.Plugins.WindowsIntegrationBroker">
      <lifetime type="singleton" />
    </register>
    <register type="Insite.WIS.Broker.Interfaces.IChunkDisassembler[]" mapTo="Insite.WIS.Broker.Plugins.ChunkDisassemblerFromDataSet"/>
    <register type="Insite.WIS.Broker.Interfaces.IDataSetStorage" mapTo="Insite.WIS.Broker.Plugins.DataSetStorage"/>
    <extension type="Interception"/>
    <interception>
      <policy name="InterceptServices">
        <matchingRule name="TransactionAttributeMatch" type="CustomAttributeMatchingRule">
          <constructor>
            <param name="attributeType" value="Insite.Core.Interfaces.Data.TransactionAttribute, Insite.Core.Interfaces" typeConverter="Insite.IocContainer.Unity.AOP.AssemblyQualifiedTypeNameConverter, Insite.IocContainer.Unity"/>
            <param name="inherited" value="true"/>
          </constructor>
        </matchingRule>
        <callHandler name="TransactionHandler" type="Insite.IocContainer.Unity.AOP.TransactionHandler, Insite.IocContainer.Unity"/>
      </policy>
    </interception>
  </container>
</unity>