<div class="medium-12 large-12 columns widget-1column [[Model.CssClass]]">
    <div class="row">
        <div class="medium-12 large-12 columns">
            [% zone 'Content' %]
        </div>
    </div>
</div>