<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[% translate "Share Invoice" %]</title>
    <style>
        h1, h2, h3, h4, h5, h6 {
            font-size: 100%;
            font-weight: normal;
        }

        h2 {
            font-size: 18px;
            padding: 4px 2px;
            font-weight: bold;
            margin-bottom: 0;
        }

        q:before, q:after {
            content: '';
        }

        body {
            font-family: 'sourcesanspro';
            font-size: 14px;
            color: #252525;
        }

        .right {
            text-align: right;
        }

        .left {
            text-align: left;
        }

        .invoice-total > td {
            border-top: 1px solid #DCDCDC;
            font-weight: bold;
        }

        .main-block {
            margin-bottom: 15px;
        }

        .general-information {
            width: 65%;
            position: relative;
            float: left;
            display: block;
            vertical-align: top;
        }

        .order-details-top {
            margin-bottom: 20px;
            border: 1px solid #DCDCDC;
            padding: 14px;
            width: 100%;
        }

            .order-details-top > ul {
                list-style: none;
            }

        .row:before, .row:after {
            content: " ";
            display: table;
        }

        .order-details-left {
            width: 50%;
            padding-left: 5px;
            padding-right: 5px;
            vertical-align: top;
        }

        .ship-info {
            margin-bottom: 5px;
        }

        .order-details-right {
            width: 50%;
            padding-left: 5px;
            padding-right: 5px;
            vertical-align: top;
        }

        .bill-info {
            margin-bottom: .8em;
            margin: 0;
            padding: 0;
        }

        .list-item {
            margin-top: 0;
            margin-bottom: 0;
        }

        .summary-block {
            width: 35%;
            padding-left: 5px;
            vertical-align: top;
        }

        .order-subtotal {
            border: 1px solid #DCDCDC;
            width: 100%;
            border-collapse: collapse;
        }

            .order-subtotal .oc-head {
                padding-left: 5px;
            }

        .sub-amount, .sub-label {
            padding-bottom: 3px;
            padding-top: 3px;
            padding-left: 5px;
        }

        .od-lbl {
            width: auto;
            padding-right: 5px;
            font-weight: bold;
            margin-bottom: 0;
        }

        .od-data {
            color: #252525;
            margin-bottom: 0;
        }

        .oc-head {
            margin-bottom: 4px;
            padding-top: 0;
            padding-bottom: 0;
            font-weight: bold;
        }

            .oc-head > h3 {
                font-weight: bold;
            }

        .sub-amount {
            text-align: right;
            padding-right: 5px;
        }

        .order-total {
            font-weight: bold;
            font-size: 16px;
        }

            .order-total .sub-label, .order-total .sub-amount {
                padding-bottom: 15px;
            }

        .order-details {
            border: 1px solid #DCDCDC;
            width: 100%;
            border-collapse: collapse;
        }

        .products-header > th {
            background-color: #eeeeee;
            padding: 8px 7px;
        }

        .product-line > td {
            border-bottom: 1px solid #DCDCDC;
            padding: 5px 7px;
        }

        .item-name > h3 {
            font-weight: bold;
            margin-top: 6px;
        }

        .item-num > h3 {
            margin-top: 6px;
        }

        .item-notes > h3 {
            margin-top: 6px;
            margin-bottom: 0;
            font-style: italic;
        }

        .product-line {
            vertical-align: top;
        }

        .item-subtotal {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div>
        <h2>[% translate "Invoice #" %] [[Model.InvoiceNumber]]</h2>
        <table class="main-block">
            <tr>
                <td class="general-information">
                    <table class="order-details-top">
                        <tr>
                            <td class="order-details-left">
                                <table>
                                    <tr>
                                        <td><h3 class="od-lbl">[% translate "Invoice Date" %]:</h3></td>
                                        <td><h3 class="od-data">[[Model.InvoiceDateDisplay]]</h3></td>
                                    </tr>
                                    <tr>
                                        <td><h3 class="od-lbl">[% translate "Invoice Due Date" %]:</h3></td>
                                        <td><h3 class="od-data">[[Model.DueDateDisplay]]</h3></td>
                                    </tr>
                                    <tr>
                                        <td><h3 class="od-lbl">[% translate "Terms" %]:</h3></td>
                                        <td><h3 class="od-data">[[Model.Terms]]</h3></td>
                                    </tr>
                                    <tr>
                                        <td><h3 class="od-lbl">[% translate "PO #" %]:</h3></td>
                                        <td><h3 class="od-data">[[Model.CustomerPO]]</h3></td>
                                    </tr>
                                    <tr>
                                        <td><h3 class="od-lbl">[% translate "Status" %]:</h3></td>
                                        <td><h3 class="od-data">[[Model.Status]]</h3></td>
                                    </tr>
                                </table>
                                <div class="ship-info">
                                    <div class="oc-head">
                                        <h3>[% translate "Shipping Address" %]</h3>
                                    </div>
                                    <p class="list-item">[[Model.STCompanyName]]</p>
                                    <p class="list-item">[[Model.STAddress1]]</p>
                                    [% if Model.STAddress2 != null and Model.STAddress2 != "" -%]
                                        <p class="list-item">[[Model.STAddress2]]</p>
                                    [% endif -%]
                                    <p class="list-item">[[Model.ShipToCity]]
                                    [% if Model.ShipToCity != null and Model.ShipToCity != "" and Model.ShipToState != null and Model.ShipToState != "" -%]
                                        , [[Model.ShipToState]] [[Model.ShipToPostalCode]]
                                    [% endif -%]
                                    </p>
                                    <p class="list-item">[[Model.STCountry]]</p>
                                </div>
                            </td>
                            <td class="order-details-right">
                                <div class="bill-info">
                                    <div class="oc-head">
                                        <h3>[% translate "Billing Address" %]</h3>
                                    </div>
                                    <p class="list-item">[[Model.BTCompanyName]]</p>
                                    <p class="list-item">[[Model.BTAddress1]]</p>
                                    [% if Model.BTAddress2 != null and Model.BTAddress2 != "" -%]
                                        <p class="list-item">[[Model.BTAddress2]]</p>
                                    [% endif -%]
                                    <p class="list-item">[[Model.BillToCity]]
                                    [% if Model.BillToCity != null and Model.BillToCity != "" and Model.BillToState != null and Model.BillToState != "" -%]
                                        , [[Model.BillToState]] [[Model.BillToPostalCode]]
                                    [% endif -%]
                                    <p class="list-item">[[Model.BTCountry]]</p>
                                </div>
                                [% if Model.ShipCode != null and Model.ShipCode != "" -%]
                                    <div class="ship-method">
                                        <div class="oc-head">
                                            <h3>[% translate "Shipping Method" %]</h3>
                                        </div>
                                        <div>[[Model.ShipCode]]</div>
                                    </div>
                                [% endif -%]
                                [% if Model.Notes != null and Model.Notes != "" -%]
                                    <div class="notes">
                                        <div class="oc-head">
                                            <h3>[% translate "Order Notes" %]</h3>
                                        </div>
                                        <div>[[Model.Notes]]</div>
                                    </div>
                                [% endif -%]
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="summary-block">
                    <table class="order-subtotal">
                        <tr>
                            <td>
                                <h3 class="oc-head">[% translate "Invoice Summary" %]</h3>
                            </td>
                        </tr>
                        <tr>
                            <td class="sub-label">[% translate "Subtotal" %]</td>
                            <td class="sub-amount">[[Model.ProductTotalDisplay]]</td>
                        </tr>
                        <tr>
                            <td class="sub-label">[% translate "Shipping & Handling" %]</td>
                            <td class="sub-amount">[[Model.ShippingAndHandlingDisplay]]</td>
                        </tr>
                        <tr>
                            <td class="sub-label">[% translate "Misc. Charge" %]</td>
                            <td class="sub-amount">[[Model.OtherChargesDisplay]]</td>
                        </tr>
                        <tr>
                            <td class="sub-label">[% translate "Discounts" %]</td>
                            <td class="sub-amount">[[Model.DiscountAmountDisplay]]</td>
                        </tr>
                        [% if Model.DiscountAmount > 0 -%]
                            <tr class="promo-applied">
                                <td class="sub-label">[% translate "Order Discount" %]</td>
                                <td class="sub-amount">-[[Model.DiscountAmountDisplay]]</td>
                            </tr>
                        [% endif -%]
                        [% if Model.InvoiceHistoryTaxes.size == 0 -%]
                            <tr>
                                <td class="sub-label">[% translate "Taxes" %]</td>
                                <td class="sub-amount">[[Model.TaxAmountDisplay]]</td>
                            </tr>
                        [% endif -%]
                        [% for invoiceHistoryTax in Model.InvoiceHistoryTaxes -%]
                            <tr class="sub-label">
                                [% if invoiceHistoryTax.TaxDescription != null and invoiceHistory.TaxDescription != "" -%]
                                    <td class="sub-label">[[invoiceHistoryTax.TaxDescription]]</td>
                                [% else -%]
                                    <td class="sub-label">[% translate "Taxes" %]</td>
                                [% endif -%]
                                <td class="sub-amount">[[invoiceHistoryTax.TaxAmountDisplay]]</td>
                            </tr>
                        [% endfor -%]
                        <tr class="invoice-total">
                            <td class="sub-label">[% translate "Invoice Total" %]</td>
                            <td class="sub-amount">[[Model.InvoiceTotalDisplay]]</td>
                        </tr>
                        <tr>
                            <td class="sub-label">[% translate "Payments" %]</td>
                            <td class="sub-amount">[[Model.PaymentTotalDisplay]]</td>
                        </tr>
                        <tr class="order-total">
                            <td class="sub-label">[% translate "Balance Due" %]</td>
                            <td class="sub-amount">[[Model.CurrentBalanceDisplay]]</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table class="order-details">
            <tr class="products-header">
                <th class="left">[% translate "Product" %]</th>
                <th class="right">[% translate "Price" %]</th>
                <th class="right">[% translate "QTY_quantity" %]</th>
                <th class="right">[% translate "Discount" %]</th>
                <th class="right">[% translate "Subtotal" %]</th>
            </tr>
            [% for line in Model.InvoiceLines -%]
                <tr class="product-line">
                    <td>
                        <div class="item-name">
                            <h3>
                                [% if line.ShortDescription != null and line.ShortDescription != "" -%]
                                    [[line.ShortDescription]]
                                [% else -%]
                                    [[line.Description]]
                                [% endif -%]
                            </h3>
                        </div>
                        <div class="item-num">
                            <h3>
                                [[line.ProductERPNumber]]
                                [% if line.ManufacturerItem != null and line.ManufacturerItem != "" -%]
                                    [% translate "MFG #:" %] [[line.ManufacturerItem]]
                                [% endif -%]
                            </h3>
                        </div>
                        [% if line.Notes != null and line.Notes != "" -%]
                            <div class="item-notes">
                                <h3>[% translate "Line Notes" %]: [[line.Notes]]</h3>
                            </div>
                        [% endif -%]
                    </td>
                    <td>
                        <div class="price right">
                            <h3 class="price-sale">[[line.UnitPriceDisplay]]</h3>
                            <h3 class="selected-uom">[[line.UnitOfMeasure]]</h3>
                        </div>
                    </td>
                    <td>
                        <div class="item-qty right">
                            <h3>[[line.QtyInvoiced]]</h3>
                        </div>
                    </td>
                    <td>
                        [% if line.DiscountAmount > 0 -%]
                            <div class="right">
                                <h3>[[line.DiscountAmountDisplay]]</h3>
                            </div>
                        [% endif -%]
                    </td>
                    <td>
                        <div class="right">
                            <h3 class="item-subtotal">[[line.LineTotalDisplay]]</h3>
                        </div>
                    </td>
                </tr>
            [% endfor -%]
        </table>
    </div>
</body>
</html>