<span
    ng-if="availability.messageType != 0 && !availability.requiresRealTimeInventory"
    ng-class='{instock : (availability.messageType == 1), outstock : (availability.messageType == 2), lowstock : (availability.messageType == 3)}'>
    {{availability.message}}
</span>
<span ng-if="availability.requiresRealTimeInventory && !failedToGetRealTimeInventory" class='price-loading-spinner'></span>
<div ng-if="failedToGetRealTimeInventory">
    <span>[% siteMessage 'RealTimeInventory_InventoryLoadFailed' %]</span>
</div>