<div id="popup-availability-by-warehouse" class="reveal-modal popup-availability-by-warehouse" data-reveal>
    <div class="modal-wrap">
        <div ng-if="!vm.warehouses.length" class="loader-container">
            <div class="loader"/>
        </div>
        <div ng-if="vm.warehouses.length">
            <h2 id="modalTitle">[% translate 'Warehouse Inventory' %]</h2>
            <div class="pop-content">
                <div class="row">
                    <table>
                        <tr>
                            <th>[% translate 'Warehouse' %]</th>
                            <th>[% translate 'QTY' %]</th>
                        </tr>
                        <tr ng-repeat="warehouse in vm.warehouses | orderBy: ['description', 'name']">
                            <td ng-bind="warehouse.description || warehouse.name"></td>
                            <td ng-class="{ 'outstock': warehouse.qty === 0 }" ng-bind="warehouse.qty"></td>
                        </tr>
                    </table>
                </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
        </div>
    </div>
</div>