<span ng-if="!product.quoteRequired && product.pricing && !product.pricing.requiresRealTimePrice && vm.showPriceSaving(product) || vm.showPriceSavingForOrderHistory(product)" class="price price-saving">
    <span>[% translate 'Regular Price:' %]</span>
    <span ng-bind="vm.unitListPriceDisplay"></span><span ng-if="!(!vm.showSavingsAmount && !vm.showSavingsPercent)">, [% translate 'you save' %] </span>
    <span id="tst_productPriceSaving_promotionAmount_{{::product.id}}" ng-if="vm.showSavingsAmount" ng-bind="vm.getSavingsAmount() | currency: currencySymbol"></span>
    <span ng-if="vm.showSavingsAmount && vm.showSavingsPercent">({{vm.getSavingsPercent()}}%)</span>
    <span ng-if="!vm.showSavingsAmount && vm.showSavingsPercent">{{vm.getSavingsPercent()}}%</span>
</span>