<div class="large-12 columns" ng-controller="OrderUploadController as vm" ng-cloak>
    <div id="tst_orderUpload_uploadCancelled" class="message-highlight cancelled" ng-show="vm.uploadCancelled">
        <h3>[% siteMessage 'OrderUpload_CancellationSuccessful' %]</h3>
    </div>

    <div class="clearfix"></div>
    <div class="row">

        <div class="medium-6 large-6 columns order-upload-instructions">
            <div class="instructions">
                <h3 class="no-margin-top">[% translate 'Instructions' %]</h3>
                <ol>
                    <li>
                        [% siteMessage 'OrderUpload_Instructions_Line1_Part1' %] <a target="_blank" href="/Excel/OrderUploadTemplate.xlsx" download="OrderUploadTemplate.xlsx">[% translate 'Order Upload Template' %]</a> [% siteMessage 'OrderUpload_Instructions_Line1_Part2' %]
                        <ul>
                            <li>[% siteMessage 'OrderUpload_Instructions_Line2' %]</li>
                            <li>[% siteMessage 'OrderUpload_Instructions_Line3' %]</li>
                            <li>[% siteMessage 'OrderUpload_Instructions_Line4' %]</li>
                        </ul>
                    </li>
                    <li>[% siteMessage 'OrderUpload_Instructions_Line5' %]</li>
                    <li>[% siteMessage 'OrderUpload_Instructions_Line6' %]</li>
                    <li>[% siteMessage 'OrderUpload_Instructions_Line7' %]</li>
                    <li><b><em>[% siteMessage 'OrderUpload_Instructions_Line8' %]</em></b></li>
                </ol>
            </div>
        </div>

        <div class="medium-6 large-6 columns order-upload-input">
            <div class="instructions">
                [% siteMessage 'OrderUpload_Instructions_UploadExcel' %]
            </div>
            <div class="oui-box">
                <div class="oui-browse">
                    <button id="buttonFileUpload" class="primary btn dark-blue" ng-click="vm.onButtonFileUploadClick()">[% translate 'Browse' %]</button>
                    <input id="hiddenFileUpload" style="display: none" type="file" onchange="angular.element(this).data('_scope').vm.setFile(this)">
                    <span id="tst_orderUpload_fileTitle" class="file-title" ng-bind="!vm.fileName ? '[% translate 'No file selected.' %]' : vm.fileName"></span>
                </div>
                <div class="first-row-option">
                    <input id="firstRowCheckbox" type="checkbox" ng-model="vm.firstRowHeading" /><label for="firstRowCheckbox">[% translate 'First row is column headings' %]</label>
                </div>
                <div class="oui-message showing" ng-show="vm.badFile || vm.uploadLimitExceeded">
                    <div id="tst_orderUpload_badFile" class="upload-error" ng-show="vm.badFile">
                        [% siteMessage 'OrderUpload_UploadError' %]
                    </div>
                    <div id="tst_orderUpload_uploadLimitExceeded" class="upload-error" ng-show="vm.uploadLimitExceeded">
                        [% siteMessage 'OrderUpload_RowsLimitExceeded' %]
                    </div>
                </div>
                <div class="oui-orders">
                    <button id="tst_orderUpload_uploadFile" class="primary btn" ng-click="vm.uploadFile()" ng-disabled="!vm.file || vm.badFile">[% translate 'Upload Order' %]</button>
                </div>
            </div>
        </div>

        <div id="orderUploadingIssuesPopup" class="reveal-modal popup-share ma-order-upload" data-options="close_on_background_click: false;" data-reveal data-reveal-init>
            <div class="ou-modal issues wide modal-wrap">
                <i class="exclamation-triangle"></i>

                <h3 class="underline">[% siteMessage 'QuickOrder_OrderUpload_AddToCartError' %]:</h3>
                <div class="ou-table-wrapper">
                    <table class="ou-issues-table">
                        <thead>
                            <tr>
                                <td class="up-row-num">[% translate 'Row #' %]</td>
                                <td class="up-item-num">[% translate 'Item #' %]</td>
                                <td class="up-qty">[% translate 'QTY' %]</td>
                                <td class="up-um">[% translate 'U/M' %]</td>
                                <td class="up-reason">[% translate 'Reason' %]</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tst_orderUpload_issueRow" ng-repeat="errorProduct in vm.errorProducts">
                                <td class="up-row-num" ng-bind="errorProduct.index"></td>
                                <td class="up-item-num" ng-bind="errorProduct.name"></td>
                                <td class="up-qty" ng-bind="errorProduct.qtyRequested"></td>
                                <td class="up-um" ng-bind="errorProduct.umRequested"></td>
                                <td class="up-reason">
                                    <span ng-if="errorProduct.error === 'NotEnough'">[% siteMessage 'QuickOrder_NotEnoughQuantity' %]</span>
                                    <span ng-if="errorProduct.error === 'ConfigurableProduct'">[% siteMessage 'QuickOrder_CannotOrderConfigurable' %]</span>
                                    <span ng-if="errorProduct.error === 'StyledProduct'">[% siteMessage 'QuickOrder_CannotOrderStyled' %]</span>
                                    <span ng-if="errorProduct.error === 'Unavailable'">[% siteMessage 'QuickOrder_ProductIsUnavailable' %]</span>
                                    <span ng-if="errorProduct.error === 'InvalidUnit'">[% translate 'Invalid U/M' %]</span>
                                    <span ng-if="errorProduct.error === 'NotFound'">[% siteMessage 'Product_NotFound' %]</span>
                                    <span ng-if="errorProduct.error === 'OutOfStock'">[% translate 'Out of stock' %]</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="button-container">
                    <button id="tst_orderUploadIssues_continueToCart" class="btn primary dark-blue slim no-margin-bottom" ng-disabled="!vm.products || vm.products.length === 0" ng-click="vm.uploadProducts('#orderUploadingIssuesPopup')">[% translate 'Continue to Cart' %]</button>
                    <button id="tst_orderUploadIssues_cancelUpload" class="btn tertiary slim no-margin-bottom" ng-click="vm.closeIssuesPopup()">[% translate 'Cancel Upload' %]</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div id="orderUploadSuccessPopup" class="reveal-modal popup-share ma-order-upload" data-reveal>
            <div class="ou-modal modal-wrap success">
                <i class="fa fa-check"></i>
                <h3>{{vm.uploadedItemsCount}} [% translate 'items uploaded' %].</h3>
                <a id="tst_orderUploadSuccess_continueToCart" class="btn primary dark-blue slim no-margin-bottom" href="[% urlForPage 'CartPage' %]" ng-click="vm.hideUploadSuccessPopup()">[% translate 'Continue to Cart' %]</a>
            </div>
        </div>

        <div id="orderUploadingPopup" class="reveal-modal address-error-popup ma-order-upload" data-reveal data-options="close_on_background_click: false;" data-reveal-init>
            <div class="modal-wrap ou-modal">
                <div class="loader"></div>
                <h3>{{(!vm.uploadCancelled) ? "[% translate 'Uploading Order' %]" : "[% translate 'Cancelling Order' %]"}}</h3>
                <button id="tst_orderUpload_cancelUpload" class="btn tertiary slim no-margin-bottom" ng-click="vm.cancelUpload()" ng-show="vm.allowCancel" ng-enable="!vm.uploadCancelled">[% translate 'Cancel Upload' %]</button>
            </div>
        </div>
    </div>
</div>