{
  "processors": [["stylelint-processor-styled-components", {
    "parserPlugins": [
        "jsx",
        "objectRestSpread",
        ["decorators", { "decoratorsBeforeExport": true }],
        "classProperties",
        "exportExtensions",
        "asyncGenerators",
        "functionBind",
        "functionSent",
        "dynamicImport",
        "optionalCatchBinding",
        "optionalChaining",
        "nullishCoalescingOperator"
    ]
  }]],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "syntax": "scss",
  "rules": {
      "indentation": 4,
      "rule-empty-line-before": null,
      "selector-list-comma-newline-after": null,
      "declaration-empty-line-before": null,
      "no-descending-specificity": null,
      "declaration-colon-newline-after": null
  }
}
