<div>
    <div id="popup-quote-past-expiration-date" class="reveal-modal popup-quote-past-expiration-date" data-reveal data-reveal-init>
        <div class="modal-wrap">
            <p class="messaging">
                <span>[% siteMessage 'Rfq_PastExpirationDate' %]</span>
            </p>
            <div class="btns">
                <button type="button" class="btn secondary btn-cancel" ng-click="vm.cancel()">[% translate 'Cancel' %]</button>
                <button type="button" class="btn primary btn-continue" ng-click="vm.submitQuote()">[% translate 'Submit Quote' %]</button>
            </div>
        </div>
    </div>
</div>