<div isc-scroll-bottom class="q-msgs">
    <div class="q-msg" ng-repeat="message in messageCollection">
        <strong class="msg-from" ng-bind="message.displayName"></strong>
        <em class="msg-date">{{message.createdDate | date: 'short' }}</em>
        <span class="msg-txt" ng-bind="message.body"></span>
    </div>
</div>