<div>
    <div id="popup-add-wishlist" class="reveal-modal popup-add-wishlist" data-reveal data-reveal-init>
        <div class="modal-wrap" ng-if="(vm.isAuthenticated || vm.isRememberedUser) && !vm.isGuest">
            <h2>[% translate 'Add to List' %]</h2>
            <div class="pop-content">
                <div id="error" class="error" ng-show="vm.errorMessage || vm.showWishlistNameErrorMessage">
                    <span ng-show="vm.errorMessage" class="field-validation-error">{{vm.errorMessage}}</span>
                    <span ng-show="vm.showWishlistNameErrorMessage" class="field-validation-error">{{::'[% siteMessage 'Lists_Enter_New_Wishlist_Name' EscapeSingleQuotes %]'}}</span>
                </div>
                <form ng-show="vm.allowMultipleWishLists && !vm.addToWishlistCompleted" id="addToWishListForm">
                    <div class="row select-list">
                        <div class="large-5 columns">
                            <span>[% translate 'Select List' %]</span>
                        </div>
                        <div class="large-7 columns">
                            <select id="tst_wishListPopup_selectedWishList" ng-change="vm.changeWishList()" ng-model="vm.selectedWishList" ng-options="wishList.name for wishList in vm.wishListCollection track by wishList.id">
                                <option value="">[% translate 'Create New List' %]</option>
                            </select>
                        </div>
                        <div class="row thor">[% translate 'Or' %]</div>
                        <div class="row create-list">
                            <div class="large-5 columns">
                                <span>[% translate 'Create a New List' %]</span>
                            </div>
                            <div class="large-7 columns">
                                <input id="tst_wishListPopup_newWishListName" type="text" ng-model="vm.newWishListName" ng-disabled="vm.selectedWishList" autofocus="autofocus">
                            </div>
                        </div>
                        <div class="row btns">
                            <button id="tst_wishListPopup_addToWishList" ng-click="vm.addToWishList()" class="btn primary btn-add-wishlist" type="button">[% translate 'Add to List' %]</button>
                        </div>
                    </div>
                </form>
                <div id="tst_wishListPopup_message" ng-show="vm.addToWishlistCompleted || !vm.allowMultipleWishLists" class="row message">[% siteMessage 'Lists_ProductAdded' %]</div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
        </div>
        <div ng-if="(!vm.isAuthenticated && !vm.isRememberedUser) || vm.isGuest" class="modal-wrap">
            <h4>[% translate 'Please Sign In' %]</h4>
            <p id="tst_wishListPopup_requireSignIn">[% siteMessage 'Lists_Must_Sign_In' %]</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</div>