<appSettings>
  <add key="Environment" value="sandbox" />
  <add key="IdentityServerUrl" value="http://trunk.local.com/identity"/>
  <!-- if terminating SSL at the load balancer, this will need to be set to false. Otherwise set this to true to ensure identity can only be accessed view SSL -->
  <add key="IdentityServerRequireSsl" value="false"/>
  <add key="IdentityServerSkipUrlValidation" value="false" />
  <add key="IdentityServerCertificatePassword" value="idsrv3test" />
  <add key="Elasticsearch5ServerUrl" value="http://localhost:9201" />
</appSettings>