<appSettings>
  <add key="Environment" value="sandbox" />
  <add key="IdentityServerUrl" value="http://commerce.local.com/identity"/>
  <!-- if terminating SSL at the load balancer, this will need to be set to false. Otherwise set this to true to ensure identity can only be accessed view SSL -->
  <add key="IdentityServerRequireSsl" value="false"/>
  <add key="IdentityServerSkipUrlValidation" value="false" />
  <add key="IdentityServerCertificatePassword" value="idsrv3test" />
  <add key="Elasticsearch5ServerUrl" value="http://localhost:9201" />
  <add key="SpireLogsServerUrl" value="" />
  <add key="SpireLogsIndexPattern" value="" />
  <add key="SpireLogsNamespaceName" value="" />
  <add key="DisableTimersForCleanerProfiling" value="false" />
  <add key="XFrameExceptionUrls" value="app.pendo.io,campus.insitesoft.com,rise.articulate.com" />
  <add key="EnablePendo" value="false" />
  <add key="EnableAutomatedTesting" value="false" />
  <add key="AmazonS3StorageProviderAccessKey" value="" />
  <add key="AmazonS3StorageProviderBucketName" value="" />
  <add key="AmazonS3StorageProviderSecretKey" value="" />
  <add key="AmazonS3StorageProviderCustomDomain" value="" />
  <add key="AzureStorageProviderAccountKey" value="" />
  <add key="AzureStorageProviderAccountName" value="" />
  <add key="AzureStorageProviderContainerName" value="" />
  <add key="AzureStorageProviderDefaultEndPointsProtocol" value="" />
  <add key="AzureStorageProviderPublicHostName" value="" />
  <!--PaymentGatewayIframe values: None|TokenEx|Paymetric-->
  <add key="PaymentGatewayIFrame" value="" />
  <add key="PaymentGatewayUseTokenExGateway" value="" />
  <add key="PaymentGatewayTokenExId" value="" />
  <add key="PaymentGatewayTokenExApiKey" value="" />
  <add key="PaymentGatewayTokenExClientSecret" value="" />
  <add key="PaymentGatewayPaymetricTestMode" value="" />
  <add key="PaymentGatewayPaymetricMerchantID" value="" />
  <add key="PaymentGatewaySecurityKey" value="" />
  <!--PaymentGatewayPaymetricIframeTemplate values: CreditcardWithoutCvv|CreditcardWithCvv-->
  <add key="PaymentGatewayPaymetricIframeTemplate" value="" />
  <add key="MetricsUsername" value="[MetricsUsername]" />
  <add key="MetricsPassword" value="[MetricsPassword]" />
  <add key="SpireClientSecret" value="" />
</appSettings>