<connectionStrings>
  <add name="Insite.Commerce" connectionString="Data Source=localhost;Initial Catalog=Insite.Commerce;User Id=USER;Password=PASSWORD;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  <add name="Insite.Commerce.Admin" connectionString="Data Source=localhost;Initial Catalog=Insite.Commerce;User Id=USER;Password=PASSWORD;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  <add name="Insite.Commerce.Extensions" connectionString="Data Source=localhost;Initial Catalog=Insite.Commerce;User Id=USER;Password=PASSWORD;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
</connectionStrings>