<connectionStrings>
  <!-- Required connection string. Suggested setup has this user in db_datareader and db_datawriter roles -->
  <add name="Insite.Commerce" connectionString="Data Source=localhost;Initial Catalog=Insite.Commerce;User Id=USER;Password=PASSWORD;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  <!-- Optional connection string. Suggested setup has this user in db_owner role. If not specificed Insite.Commerce connection string must have db_owner -->
  <!--<add name="Insite.Commerce.Admin" connectionString="Data Source=localhost;Initial Catalog=Insite.Commerce;User ID=sa;Password=Password1;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
  <!-- Optional connection string. Suggested setup has this user in db_datareader and db_datawriter role. With alter schema and create table/view/procedure on Extensions shecma -->
  <!--<add name="Insite.Commerce.Extensions" connectionString="Data Source=localhost;Initial Catalog=Insite.Commerce;User ID=sa;Password=Password1;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
</connectionStrings>