<customSmtpSettings>
  <customSmtps>
    <!--
    domainName should match value from EmailsSettings.EmailDomainName
    <add domainName="domain" host="smtp.mailgun.org" userName="user" password="pass" port="587" />
    <add domainName="gmail" host="smtp.gmail.com" userName="user" password="pass" port="587" enableSsl="true" />
    -->
  </customSmtps>
</customSmtpSettings>
