<div ng-controller="SavedOrderListController as vm" ng-cloak>
    <form>
        <section class="accordion search-orders">
            <div class="cm">
                <input type="checkbox" id="accord-1" class="accord-check" />
                <label for="accord-1" class="accord-head">[% translate 'Search Saved Orders' %]</label>
                <article class="accord-content">
                    <div class="row">
                        <div class="medium-12 large-4 columns search-col-1">
                            <div class="search-total">
                                <label>[% translate 'Saved Order Subtotal' %]</label>
                                <div class="row">
                                    <div class="small-6 columns">
                                        <select id="OrderTotalOperator" name="OrderTotalOperator" ng-model="vm.searchFilter.orderTotalOperator">
                                            <option value="">[% translate 'Select' %]</option>
                                            <option value="Greater Than">[% translate 'Greater Than' %]</option>
                                            <option value="Less Than">[% translate 'Less Than' %]</option>
                                            <option value="Equal To">[% translate 'Equal To' %]</option>
                                        </select>
                                    </div>
                                    <div class="small-6 columns">
                                        <input type="text" name="OrderTotal" id="OrderTotal" value="" ng-model="vm.searchFilter.orderTotal" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="medium-12 large-4 columns search-col-2">
                            <div class="search-date">
                                <label>[% translate 'Date Range' %]</label>
                                <div class="row">
                                    <div class="small-6 columns search-date-from">
                                        <em>[% translate 'From' %]</em>
                                        <input type="text" name="FromDate" id="FromDate" value="" class="datepicker" isc-pick-a-date="vm.searchFilter.fromDate" />
                                    </div>
                                    <div class="small-6 columns search-date-to">
                                        <em>[% translate 'To_date' %]</em>
                                        <input type="text" name="ToDate" id="ToDate" value="" class="datepicker" isc-pick-a-date="vm.searchFilter.toDate" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btns">
                        <button type="submit" class="btn primary btn-search" ng-click="vm.search()">[% translate 'Search' %]</button>
                        <button type="submit" class="btn secondary btn-clear" ng-click="vm.clear()">[% translate 'Clear' %]</button>
                    </div>
                </article>
            </div>
        </section>
    </form>

    <div ng-cloak ng-show="vm.savedCarts.length > 0">

        <h3 class="results-count">
            <span class="result-num" ng-bind="vm.pagination.totalItemCount"></span>
            <span class="result-lbl">[% translate 'orders' %]</span>
        </h3>

        <isc-pager pagination="vm.pagination" storage-key="vm.paginationStorageKey" update-data="vm.getCarts()"></isc-pager>
        <div class="overflow-table small">
            <table class="info-tbl">
            <tbody>
                <tr>
                    <th class="col-date">
                        <span class="sticky-first">
                        <a href="" class="sort"
                           ng-class="{'sort-ascending': vm.searchFilter.sort === 'OrderDate', 'sort-descending': vm.searchFilter.sort === 'OrderDate DESC'}"
                           ng-click="vm.changeSort('OrderDate')">
                            [% translate 'Date' %]
                        </a>
                        </span>
                    </th>
                    <th class="col-shipto">
                        <a href="" class="sort"
                           ng-class="{'sort-ascending': vm.searchFilter.sort === 'CustomerSequence', 'sort-descending': vm.searchFilter.sort === 'CustomerSequence DESC'}"
                           ng-click="vm.changeSort('CustomerSequence')">
                            [% translate 'Ship To' %]
                        </a>
                    </th>
                    <th class="col-tot">
                        <a href="" class="sort"
                           ng-class="{'sort-ascending': vm.searchFilter.sort === 'OrderGrandTotal', 'sort-descending': vm.searchFilter.sort === 'OrderGrandTotal DESC'}"
                           ng-click="vm.changeSort('OrderGrandTotal')">
                            [% translate 'Subtotal' %]
                        </a>
                    </th>
                </tr>
                <tr ng-repeat="cart in vm.savedCarts">
                    <td class="col-date">
                        <span class="sticky-first">
                            <a ng-href="[% urlForPage 'SavedOrderDetailPage' %]?cartid={{cart.id}}" ng-bind="cart.orderDate | date:'shortDate'"></a>
                        </span>
                    </td>
                    <td class="col-shipto" ng-bind="cart.shipToLabel"></td>
                    <td class="col-tot" ng-bind="cart.orderSubTotalDisplay"></td>
                </tr>
            </tbody>
        </table>
		</div>
        <isc-pager pagination="vm.pagination" bottom="true" storage-key="vm.paginationStorageKey" update-data="vm.getCarts()"></isc-pager>

    </div>

    <div class="search-no-results" ng-show="vm.savedCarts.length === 0">
        <h3>[% translate 'No saved orders found.' %]</h3>
    </div>
</div>