<div ng-controller="ProductDetailController as vm" ng-cloak>
    <isc-catalog-breadcrumb ng-show="vm.product" breadcrumbs="vm.breadCrumbs"></isc-catalog-breadcrumb>
    <div class="row pd-grid isc-productContainer">
        <div class="detail-info">
            <div class="name-price">
                <h1>{{vm.product.shortDescription}}</h1>
                <isc-product-name product="vm.product" no-link="true"></isc-product-name>

                <div ng-if="vm.product.canShowPrice && !vm.failedToGetRealTimePrices" class="pd-price-um">
                    <isc-product-price product="vm.product"></isc-product-price>
                    <span id="tst_productDetail_unitOfMeasureLabel" ng-if="vm.product.unitOfMeasureDisplay || vm.product.unitOfMeasureDescription" class="um isc-uomDisplay">
                        / {{vm.product.unitOfMeasureDescription || vm.product.unitOfMeasureDisplay}}
                    </span>
                    <isc-product-price-saving product="vm.product" currency-symbol="vm.product.currencySymbol"></isc-product-price-saving>
                </div>
                <div ng-show="vm.product.canShowPrice && !vm.product.quoteRequired && !vm.failedToGetRealTimePrices">
                    <isc-quantity-break-pricing product-id="vm.product.id" break-prices="vm.product.pricing.unitRegularBreakPrices"></isc-quantity-break-pricing>
                </div>
                <div class="item-price" ng-if="vm.failedToGetRealTimePrices">
                    <div>[% siteMessage 'RealTimePricing_PriceLoadFailed' %]</div>
                </div>
                <div ng-if="vm.settings.showInventoryAvailability" class="availability">
                    <isc-availability-message availability="vm.product.availability" failed-to-get-real-time-inventory="vm.failedToGetRealTimeInventory"></isc-availability-message>
                </div>
            </div>
            <div class="small-12 detail-image">
                <isc-product-images ng-if="vm.product" product="vm.product"></isc-product-images>
            </div>
            <div class="pd-cm-wrap">
                <div ng-show="vm.product.isConfigured && vm.product.configurationDto && vm.product.configurationDto.isKit">
                    <div ng-repeat="section in vm.product.configurationDto.sections" class="pd-kit">
                        <div ng-show="section.sectionName" class="pd-kit-name" style="font-weight: bold">{{section.sectionName}}:</div>
                        <div ng-repeat="option in section.options" class="pd-kit-value">
                            {{option.description}}
                        </div>
                    </div>
                </div>
                <isc-sorted-attribute-value-list ng-if="vm.product.attributeTypes.length > 0" attribute-types="vm.product.attributeTypes" class="attribute-list"></isc-sorted-attribute-value-list>

                <div id="tst_productDetail_htmlContent" class="product-cm" ng-bind-html="vm.product.htmlContent|trusted"></div>
            </div>
            <div class="product-reviews"></div>
            <ul ng-if="vm.product.documents.length > 0" class="doclinks">
                <li ng-if="vm.languageId === document.languageId" ng-repeat="document in vm.product.documents" class="doc-{{$index}}">
                    <a id="tst_productDetail_{{document.id}}" ng-href="{{document.filePath}}" target="_new">{{document.name}} <em ng-if="document.documentType">({{document.documentType}})</em></a>
                </li>
            </ul>
        </div>
        <div class="detail-options">
            <div class="panel" ng-show="vm.product.isConfigured && vm.product.configurationDto && !vm.product.configurationDto.isKit || vm.product.styleTraits.length > 0">
                <div class="row collapse">
                    <!-- Configuration part -->
                    <div ng-show="vm.product.isConfigured && vm.product.configurationDto != null && !vm.product.configurationDto.isKit">
                        <div ng-repeat="section in vm.product.configurationDto.sections" class="pd-kit">
                            <span>{{section.sectionName}}</span>
                            <select ng-model="vm.configurationSelection[$index]" name="tst_productDetail_configurationSection_{{section.sectionName}}" ng-change="vm.configChanged()"
                                    ng-options="option.description for option in section.options track by option.sectionOptionId">
                                <option value="">Select {{section.sectionName}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- Style part -->
                    <div class="small-12 columns pd-style-opt" ng-repeat="styleTrait in vm.styleTraitFiltered | orderBy: 'sortOrder'">
                        <span>{{styleTrait.nameDisplay}}</span>
                        <select name="{{'tst_styleSelect_' + styleTrait.name}}" ng-model="vm.styleSelection[$index]" ng-change="vm.styleChange(vm.styleSelection[$index], {{$index}})"
                                ng-options="style.valueDisplay for style in styleTrait.styleValues | orderBy: 'sortOrder' track by style.styleTraitValueId">
                            <option value=""> {{styleTrait.unselectedValue ? "" : "Select"}} {{styleTrait.unselectedValue ? styleTrait.unselectedValue : styleTrait.nameDisplay}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="right small-12 detail-add">
                <div class="small-12 fc-um">
                    <label ng-if="vm.settings.alternateUnitsOfMeasure && vm.product.productUnitOfMeasures.length > 1" class="small-12">[% translate 'U/M' %]:</label>
                    <isc-unit-of-measure-select-list product="vm.product" alternate-units-of-measure="{{vm.settings.alternateUnitsOfMeasure}}"
                                                     display-pack="true" change-unit-of-measure="vm.changeUnitOfMeasure(vm.product)"></isc-unit-of-measure-select-list>
                </div>
                <div class="small-12 fc-qty" ng-if="vm.product.canEnterQuantity || vm.configurationCompleted || vm.styleSelectionCompleted && !vm.product.canConfigure">
                    <label class="small-12">[% translate 'QTY_quantity' %]</label>
                    <input id="tst_productDetail_qtyOrdered" type="text" value="1" class="small-12 numerictextbox" ng-model="vm.product.qtyOrdered">
                </div>
                <span class="field-validation-error" ng-if="vm.showUnitError"><span ng-bind="vm.parentProduct.unitOfMeasureDisplay"></span>[% siteMessage 'StyledProduct_WrongUnitOfMeasure' %]</span>
                <div class="small-12 pd-buttons">
                    <div class="small-12 primary-button">
                        <button ng-show="(vm.product.availability.messageType != 2 || vm.product.canBackOrder) && vm.product.allowedAddToCart && (vm.product.canAddToCart || vm.configurationCompleted || vm.styleSelectionCompleted && !vm.product.canConfigure)"
                                id="tst_productDetail_addToCart" ng-click="vm.addToCart(vm.product)"
                                role="button" class="btn primary btn-add-to-cart" ng-disabled="!vm.product.qtyOrdered || vm.product.qtyOrdered == 0 || vm.showUnitError || vm.addingToCart">
                            [% translate 'Add To Cart' %]
                        </button>
                    </div>
                    <div ng-if="vm.product.canConfigure && (vm.product.styleTraits.length === 0 || vm.styleSelectionCompleted)" class="small-12 primary-button">
                        <a id="tst_productDetail_configure" href="[% urlFor '/Configuration/Configure' %]/{{vm.product.erpNumber}}" role="button" class="btn primary btn-configure">[% translate 'Configure' %]</a>
                    </div>
                    <div class="small-12 primary-button">
                        <a id="tst_productDetail_productSubscription" href="" class="btn primary btn-product-subscription"
                                ng-show="vm.product.isSubscription && (vm.product.availability.messageType != 2 || vm.product.canBackOrder) && vm.product.allowedAddToCart && (vm.product.canAddToCart || vm.configurationCompleted || vm.styleSelectionCompleted && !vm.product.canConfigure)"
                                ng-click="vm.openProductSubscriptionPopup(vm.product)"
                                ng-disabled="!vm.product.qtyOrdered || vm.product.qtyOrdered == 0 || vm.showUnitError">
                            [% translate 'Delivery Schedule' %]
                        </a>
                    </div>
                </div>
            </div>
            <div class="small-12 secondary-button">
                <a id="tst_productDetail_addToWishList" ng-if="vm.product.canAddToWishlist || vm.styleSelectionCompleted" ng-click="vm.openWishListPopup(vm.product)" role="button"
                   class="btn secondary btn-add-to-list" href="javascript:;">[% translate 'Add to List' %]</a>
                <div ng-show="vm.product" class="small-12 detail-share">
                    <a id="tst_productDetail_share" href="javascript:;" class="pd-zoom" data-reveal-id="TellAFriendDialogContainer">[% translate 'Share' %]</a>
                    <isc-tell-a-friend-popup product="vm.product" data-reveal></isc-tell-a-friend-popup>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.product.specifications.length > 0" class="row pd-specs">
        <div id="tst_productDetail_specifications" class="detail-specs easy-resp-tabs">
            <ul class="resp-tabs-list">
                <li ng-repeat="specification in vm.product.specifications | filter: { isActive: 'true' } | orderBy: 'sortOrder'" ng-class="{active: ($first)}">
                    {{specification.nameDisplay}}
                </li>
            </ul>
            <div class="resp-tabs-container">
                <div ng-repeat="specification in vm.product.specifications | filter: { isActive: 'true' } | orderBy: 'sortOrder'" ng-bind-html="specification.htmlContent|trusted"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="productDetail_tellAFriend">
    <div style="display: none;">
        <div id="TellAFriendDialogContainer" class="product-detail popup-share reveal-modal" data-reveal data-reveal-init>
            <div class="modal-wrap">
                <h2>[% translate 'Share with a Friend' %]</h2>
                <form novalidate id="tellAFriendForm" class="custom">
                    <div class="row share-name">
                        <isc-tell-a-friend-field field-label="[% translate 'Friend's Name' %]"
                                            field-name="friendsName"
                                            field-value="vm.tellAFriendModel.friendsName"
                                            is-required="true"
                                            is-email="false">
                        </isc-tell-a-friend-field>
                    </div>
                    <div class="row share-email">
                        <isc-tell-a-friend-field field-label="[% translate 'Friend's Email' %]"
                                            field-name="friendsEmail"
                                            field-value="vm.tellAFriendModel.friendsEmailAddress"
                                            is-required="true"
                                            is-email="true">
                        </isc-tell-a-friend-field>
                    </div>
                    <div class="row share-you">
                        <isc-tell-a-friend-field field-label="[% translate 'Your Name' %]"
                                            field-name="yourName"
                                            field-value="vm.tellAFriendModel.yourName"
                                            is-required="true"
                                            is-email="false">
                        </isc-tell-a-friend-field>
                    </div>
                    <div class="row share-youmail">
                        <isc-tell-a-friend-field field-label="[% translate 'Your Email' %]"
                                            field-name="yourEmail"
                                            field-value="vm.tellAFriendModel.yourEmailAddress"
                                            is-required="true"
                                            is-email="true">
                        </isc-tell-a-friend-field>
                    </div>
                    <div class="row share-msg">
                        <div class="large-5 columns">
                            <span>[% translate 'Your Message' %]</span>
                            <span class="redTxt">*</span>
                        </div>
                        <div class="large-7 columns">
                            <textarea ng-model="vm.tellAFriendModel.yourMessage" autofocus="autofocus"
                                      id="yourMessage"
                                      name="yourMessage"
                                      data-rule-required="true"
                                      data-msg-required="{{ '[% siteMessage 'Field_Required' EscapeSingleQuotes %]'.replace('{0}', '[% translate 'Your Message' EscapeSingleQuotes %]') }}"></textarea>
                            <span class="field-validation-valid" data-valmsg-for="yourMessage" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row btns">
                        <button id="tst_productDetail_shareSubmit" ng-click="vm.shareWithFriend()" class="btn primary btn-create-wishlist" type="button">[% translate 'Share' %]</button>
                    </div>
                </form>
                <div id="tst_productDetail_shareSubmitMessage" class="messaging" ng-show="vm.isSuccess || vm.isError">
                    <span ng-show="vm.isSuccess">[% siteMessage 'TellAFriend_Success' %]</span>
                    <span ng-show="vm.isError">[% siteMessage 'TellAFriend_Error' %]</span>
                </div>
                <a class="close-reveal-modal">&#215;</a>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="productDetail_tellAFriendField">
    <div>
        <div class="large-5 columns">
            <span ng-bind="fieldLabel"></span>
            <span class="redTxt" ng-show="isRequired">*</span>
        </div>
        <div class="large-7 columns">
            <input type="text" ng-model="fieldValue" autofocus="autofocus"
                   id="{{fieldName}}"
                   name="{{fieldName}}"
                   data-rule-required="{{isRequired}}"
                   data-msg-required="{{'[% siteMessage 'Field_Required' EscapeSingleQuotes %]'.replace('{0}', fieldLabel)}}"
                   data-rule-email="{{isEmail}}"
                   data-msg-email="{{'[% siteMessage 'Field_Invalid' EscapeSingleQuotes %]'.replace('{0}', fieldLabel)}}"
                   data-rule-regex="{{ isEmail === 'true' ? '[% emailRegex %]' : '.*' }}"
                   data-msg-regex="{{'[% siteMessage 'Field_Invalid' EscapeSingleQuotes %]'.replace('{0}', fieldLabel)}}">
            <span class="field-validation-valid" data-valmsg-for="{{fieldName}}" data-valmsg-replace="true"></span>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/PartialViews/Catalog-CrossSellCarousel">
    [% partialView 'Catalog-CrossSellCarousel' %]
</script>