<ul>
    <li ng-show="address.firstName || address.lastName" ng-bind="address.firstName + ' ' + address.lastName"></li>
    <li ng-bind="address.companyName"></li>
    <li ng-bind="address.address1"></li>
    <li ng-show="address.address2" ng-bind="address.address2"></li>
    <li ng-bind="address.city + (address.city && address.state ? ', ' : '') + address.state.abbreviation + ' ' + address.postalCode"></li>
    <li ng-bind="address.country.abbreviation"></li>
    <li ng-bind="address.phone"></li>
    <li ng-if="showEmail === 'true'" ng-bind="address.email"></li>
</ul>