<div id="deliveryMethodPopup" class="reveal-modal tiny delivery-method-popup" data-reveal data-reveal-init>
    <div class="modal-wrap">
        <isc-delivery-method session="vm.session" fulfillment-method="vm.fulfillmentMethod" pick-up-warehouse="vm.pickUpWarehouse" update-session-on-change="true" prefix="popup"></isc-delivery-method>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>