<div id="select-pick-up-location-popup" class="reveal-modal select-pick-up-location-popup" data-reveal data-reveal-init
     ng-init="vm.currentLocationText = '[% translate 'Your current location.' EscapeSingleQuotes %]'">
    <div class="modal-wrap">
        <h2>[% translate 'Select Pick Up Location' %]</h2>
        <div class="pop-content">
            <div class="row">
                <div class="row locations-container">
                    <div class="medium-2 large-2 columns">
                        <h4 class="selected-location-title">[% translate 'Selected Location' %]</h4>
                    </div>
                    <div class="medium-3 large-3 columns">
                        <div ng-if="vm.selectedWarehouse" class="selected-warehouse-block">
                            <h4 class="selected-location-title">[% translate 'Selected Location' %]</h4>
                            <h4 ng-bind="vm.selectedWarehouse.description || vm.selectedWarehouse.name"></h4>
                            <div>
                                {{vm.selectedWarehouse.address1}}<br />
                                {{vm.selectedWarehouse.address2}}<br ng-if="vm.selectedWarehouse.address2" />
                                {{vm.selectedWarehouse.city}}<span ng-if="vm.selectedWarehouse.state">,</span>
                                {{vm.selectedWarehouse.state}}<span ng-if="vm.selectedWarehouse.postalCode">,</span> {{vm.selectedWarehouse.postalCode}}<br />
                                {{vm.selectedWarehouse.phone}}
                            </div>
                        </div>
                    </div>
                    <div class="medium-7 large-7 columns search-container">
                        <h4>[% translate 'Search Locations' %]</h4>
                        <input type="text" ng-model="vm.searchLocation" isc-enter="vm.getWarehouses()" />
                        <button type="button" class="btn primary fastClick location-search" ng-click="vm.getWarehouses()">
                            <i class="foundicon-search"></i><span>[% translate 'Search' %]</span>
                        </button>
                    </div>
                </div>
                <div class="row warehouses-map-container">
                    <div ng-if="!vm.locationKnown">
                        <span class="field-validation-error">
                            [% siteMessage 'PickUpLocation_GeocodeErrorMessage' %]
                        </span>
                    </div>
                    <div ng-if="vm.locationKnown && vm.warehouses.length == 0">
                        <span class="field-validation-error">
                            [% siteMessage 'PickUpLocation_NoResultsMessage' %]
                        </span>
                    </div>
                    <div class="medium-5 large-5 columns">
                        <div class="warehouse-location-results" ng-if="vm.warehouses.length > 0">
                            <div class="results-count">
                                <div class="result-count">
                                    <span ng-cloak ng-bind="vm.pagination.totalItemCount"></span> [% translate 'results' %]
                                </div>
                                <div class="distance-unit">
                                    <label>
                                        <input type="radio" name="milesKmGroup" class="Imperial" ng-model="vm.distanceUnitOfMeasure" ng-value="0"/>[% translate 'mi' %]
                                    </label>
                                    <label>
                                        <input type="radio" name="milesKmGroup" class="Metric" ng-model="vm.distanceUnitOfMeasure" ng-value="1"/>[% translate 'km' %]
                                    </label>
                                </div>
                            </div>
                            <ul class="sl-list">
                                <li ng-repeat="warehouse in vm.warehouses">
                                    <div class="result-num">{{::vm.getWarehouseNumber($index)}}</div>
                                    <div class="warehouse-item">
                                        <div class="warehouse-select-block">
                                            <button ng-if="vm.selectedWarehouse && vm.selectedWarehouse.id === warehouse.id" class="btn tertiary" type="button">[% translate 'Selected' %]</button>
                                            <button ng-if="!vm.selectedWarehouse || vm.selectedWarehouse.id !== warehouse.id" class="btn primary" type="button" ng-click="vm.selectWarehouse(warehouse)">[% translate 'Select' %]</button>
                                        </div>
                                        <div class="warehouse-name" ng-cloak ng-bind="warehouse.description || warehouse.name"></div>
                                        <div class="warehouse-address" ng-cloak>
                                            {{warehouse.address1}}<br />
                                            {{warehouse.address2}}<br ng-if="warehouse.address2" />
                                            {{warehouse.city}}<span ng-if="warehouse.state">,</span>
                                            {{warehouse.state}}<span ng-if="warehouse.postalCode">,</span> {{warehouse.postalCode}}<br />
                                            {{warehouse.phone1}}
                                        </div>
                                        <div class="warehouse-links">
                                            <div class="warehouse-hours" ng-if="warehouse.hours">
                                                <a href="#" ng-click="vm.onOpenHoursClick($event)" data-dropdown="warehouse-hours-{{warehouse.id}}" class="t-dropdown">[% translate 'Hours' %]</a>
                                            </div>
                                            <a ng-href="http://maps.google.com/maps?daddr={{warehouse.address1}} {{warehouse.address2}}, {{warehouse.city}}, {{warehouse.state}} {{warehouse.postalCode}}" class="warehouse-directions" target="_blank">[% translate 'Directions' %]</a>
                                            <span ng-if="vm.distanceUnitOfMeasure === 0" class="warehouse-distance miles" ng-cloak>{{ warehouse.distance.toFixed(2) }} [% translate 'mi' %]</span>
                                            <span ng-if="vm.distanceUnitOfMeasure === 1" class="warehouse-distance kilometers" ng-cloak>{{ (warehouse.distance * 1.60934).toFixed(2) }} [% translate 'km' %]</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-repeat="warehouse in vm.warehouses" class="warehouse-hours" ng-if="warehouse.hours">
                                <div id="warehouse-hours-{{warehouse.id}}" class="f-dropdown content" data-dropdown-content>
                                    <div class="tt-wrap" ng-bind-html="warehouse.hours|trusted"></div>
                                </div>
                            </div>
                            <isc-pager pagination="vm.pagination" bottom="true" update-data="vm.searchWarehouses()"></isc-pager>
                        </div>
                    </div>
                    <div class="medium-7 large-7 columns map-container">
                        <div class="pick-up-loc-map" id="pick-up-loc-map">
                            <map name="pickUpLocationMap" zoom="11" style="height: 650px;"></map>
                        </div>
                    </div>
                </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>

    <script type="text/ng-template" id="warehouseMarkerPopup">
        <div class="warehouse-details">
            <div class="warehouse-item">
                <div class="warehouse-name" ng-bind="warehouse.description || warehouse.name"></div>
                <div class="warehouse-address">
                    {{warehouse.address1}}<br />
                    {{warehouse.address2}}<br ng-if="warehouse.address2" />
                    {{warehouse.city}}<span ng-if="warehouse.state">,</span>
                    {{warehouse.state}}<span ng-if="warehouse.postalCode">,</span> {{warehouse.postalCode}}<br />
                    {{warehouse.phone}}
                </div>
                <div class="warehouse-hours-map" ng-if="warehouse.hours">
                    <h4>[% translate 'Hours' %]</h4>
                    <div ng-bind-html="warehouse.hours"></div>
                </div>
                <a ng-href="{{'http://maps.google.com/maps?daddr=' + warehouse.address1 + ' ' + warehouse.address2 + ', ' + warehouse.city + ', ' + warehouse.state + ' ' + warehouse.postalCode}}" class='warehouse-directions'>[% translate 'Directions' %]</a>
                <span ng-if="warehouse.distanceUnitOfMeasure === '0'" class="warehouse-distance miles">{{(warehouse.distance).toFixed(2)}} [% translate 'mi' %]</span>
                <span ng-if="warehouse.distanceUnitOfMeasure === '1'" class="warehouse-distance kilometers">{{(warehouse.distance * 1.60934).toFixed(2)}} [% translate 'km' %]</span>
            </div>
        </div>
    </script>
</div>