<div class="warehouse-info">
    <h4 ng-bind="warehouse.description || warehouse.name"></h4>
    <p ng-bind="warehouse.address1"></p>
    <p ng-bind="warehouse.address2"></p>
    <p ng-bind="warehouse.city + (warehouse.city ? ', ' : '') + warehouse.state + ' ' + warehouse.postalCode"></p>
    <p ng-bind="warehouse.phone"></p>
</div>