<div ng-controller="BrandImageController as vm" class="tst_brandImageWidget" ng-cloak>
    <img ng-if="vm.brand.featuredImagePath" ng-src="{{vm.brand.featuredImagePath}}" alt="{{vm.brand.featuredImageAltText}}" />
</div>