<div class="reveal-modal api-error-popup" data-reveal data-reveal-init>
    <div class="modal-wrap">
        <p>
            <b>[% siteMessage 'Core_ApiError' %]</b>
        </p>
        <div>
            <span ng-bind-html="vm.errorMessage"></span>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>