<div class="reveal-modal api-error-popup" data-reveal data-reveal-init>
    <div class="modal-wrap">
        <p class="messaging">
            <span>[% siteMessage 'Core_ApiError' %]<br /></span>
        </p>
        <p>
            <span ng-bind-html="vm.errorMessage"></span>
        </p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>